{% extends 'shops/base.html' %}
{% load static %}

{% block title%}Contact{% endblock %}
{% block body %}

<div class="container my-5 contact-form-container">
<h1 class="h" >Contact Us</h1>
<hr>
<p>To ask a question, please submit your request using the form below or give us a call at the number below.
</p>
    <form method="POST">
        <fieldset>
            {% csrf_token %}

            <label>Name:*</label>
            <div id="name-div">
                <input id="fname" placeholder="first name" type="text">
                <input id="lname" placeholder="last name" type="text">
            </div>

            <label for="cname" id="cname-label">Company Name:*</label>
            <br>
            <input type="text" id="cname">


            <label for="ptitle" id="ptitle-label">Position/Title:*</label>
            <br>
            <input type="text" id="ptitle">

            <label for="email" id="email-label">Email Address:*</label>
            <br>
            <input type="email" id="email">
            <div>

                <label for="wphone" id="phone-label">Work Phone:*</label>
                <br>
                <input type="text" id="wphone">
            </div>

            <div>

                <label for="cphone" id="cell-label">Cell Phone:*</label>
                <br>
                <input type="text" id="cphone">
            </div>

            <div>

                <label for="city" id="city-label">City:*</label>
                <br>
                <input type="email" id="city">
            </div>

            <label for="states" id="states-label">State:*</label>
            <br>

            <select name="state" id="states">
                <option value="alberta">Alberta</option>
                <option value="british-columbia">British Columbia</option>
                <option value="manitoba">Manitoba</option>
                <option value="new-brunswick">New Brunswick</option>
                <option value="newfoundland">Newfoundland and Labrado</option>
                <option value="northwest-territories">Northwest Territories</option>
                <option value="nova-scotia">Nova Scotia</option>
                <option value="nunavit">Nunavut</option>
                <option value="ontario">Ontario</option>
                <option value="prince-edward-island">Prince Edward Island</option>
                <option value="quebec">Quebec</option>
                <option value="saskatchewan">Saskatchewan</option>
                <option value="yukon">Yukon</option>
            </select>


            <label for="comment" id="comment-label">Comment:*</label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea>

            <button id="submit" type="submit">SUBMIT</button>

        </fieldset>
    </form>
</div>

{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'shops/contact.css' %}">
{% endblock %}