body{
    font-family: 'montserrat';
    font-weight: 400;
}

#alert, #table-div{
    display: none;
}

td{
    font-size: 0.6rem;
    padding: 3px
}
th{
    font-size: 0.5rem;
}

#bottom-table, #bottom-table th, #bottom-table td {
    border: 1px solid rgb(233, 229, 229);
    border-collapse: collapse;
    text-align: center;
  }

  #popup-div{
    font-weight: 300;
  }

#popup-div table, #popup-div tr, #popup-div th{
    border: 0;
} 

.lr{
    position: relative;
    left:0;
    width: 100%;
    max-width: 450px;
    
}
.lr label{
    float: right;
}


#map{
    height: 70vh;
}

#top-header{
    max-width: 900px;
    font-family:'Oswald', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
}

small{
    font-size: 0.6rem ;
}

#left{
    border-top-left-radius: 20px;
    /* background-image: url("./static/images/laborratehero_hero.png"); */
}

#logo-text{
    color: white;

}

.img-logo {
    width: 100px;
}

#submit{
    margin-top: 10px;
    color: white;
    background-color: #8F2626;
    border: 1px solid #4d1616;
    border-radius: 5px;
}

#submit:hover{
    color: #4d1616;
    background-color: rgb(232, 103, 99);
}

input[type=checkbox] {
    accent-color: #8F2626;
  }


.my-navbar{
background-color: white;
border-bottom: 1px solid ;
box-shadow: 0 1px 5px -2px rgb(143, 38, 38);
}

footer{
    background-color:rgb(143, 38, 38);
    font-family: 'montserrat';
    font-weight: 200;
}
footer a{
    text-decoration: none;
    color: white;
}

footer small {
    color: white;
}

.h{
    font-family: 'Oswald';
}
.h-major{

    font-weight: 600;
}
.h-middle{
    font-weight: 500;
}
.h-minor{
    font-weight: 400;
}

.p-sub{
    width: 100%;
    max-width: 600px;
}

input:focus, textarea:focus{
    outline: none;
    border:1px solid #8F2626;
    box-shadow: 0 0 5px #8F2626;
}

label{
    color:#8F2626
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.my-navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family:'Oswald', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.my-navbar-links {
    height: 100%;
}

.my-navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.my-navbar-links li {
    list-style: none;
}

.my-navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(143, 38, 38);
    padding: 1rem;
}

.my-navbar-links li:hover {
    background-color: rgb(232, 103, 99);
}

.header-logo{
width: 200px;
}

#my-nav-home, #my-nav-home:visited, #my-nav-home:hover{
    text-decoration: none;
    color: white;
}
.my-toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}


.my-toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(143, 38, 38);
    border-radius: 10px;
}




@media screen and (max-width: 768px) {
    #map{
        height: 50vh;
        margin-top:10px
    }

    #left{
        background-image: none;
    }

    .my-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .my-toggle-button {
        display: flex;
    }

    .my-navbar-links {
        display: none;
        width: 100%;
    }

    .my-navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .my-navbar-links ul li {
        text-align: center;
    }

    .my-navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .my-navbar-links.active {
        display: flex;
    }
}

