.main-wrapper{
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.main-wrapper-nav{
    background-color: black;
      
  }
nav{
    width: 100%;
    max-width: 95%;
}

.row{
    width: 100%;
    max-width:95%;
}

.header{
    width:80%;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

main{
    display:flex;
    height: 80vh
}

.form-div{
    width: 30%;
    background-image: url("https://www.laborratehero.com/static/images/laborratehero_hero.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: cover;
    position: relative;

}

form{
    position:absolute;
    right: 15px;
    top: 0;
}

.map-div{
    width: 70%;
    height: 100%;
}


.information{
    font-size: .6rem;
    color: gray;
    width: 70%;
    margin: 0 auto;
    text-align: center
}

footer{
background-color: black;
color: lightgray;

}

.footer-content{
   display: flex; 
   font-size: 0.7rem;
   justify-content: space-between;
   align-items: center;
   width:90%;
   margin: 0 auto;
   height: 50px;
}

.footer-content a{
    text-decoration: none;
    color: lightgray;
}

.footer-content a:visited{
    text-decoration: none;
    color: lightgrey
}